# CIOT / ANTT
ANTT_CIOT_ENVIRONMENT=homologacao
ANTT_CIOT_BASE_URL=https://appservices-hml.antt.gov.br/pefServices
ANTT_CIOT_ENABLE_NETWORK=false
ANTT_CIOT_TIMEOUT_MS=60000
ANTT_CIOT_PATH_TRANSPORTER=ConsultarSituacaoTransportador
ANTT_CIOT_PATH_FLEET=ConsultarFrotaTransportador
ANTT_CIOT_PATH_DECLARE=DeclaracaoOperacaoTransporte
ANTT_CIOT_PATH_CANCEL=CancelamentoOperacaoTransporte
ANTT_CIOT_PATH_RECTIFY=RetificacaoOperacaoTransporte
ANTT_CIOT_PATH_CLOSE=EncerramentoOperacaoTransporte
ANTT_CIOT_PATH_QUERY=ConsultarCIOTGerado
ANTT_CIOT_PATH_EXCEPTION=ConsultarExcecao
